body {
	background: black url(big_v_road.png) repeat-y top right;
	color: #d4d6d6;
	margin: 0;
	font: 15px/25px sans-serif;
}

a:link, a:visited, a:hover, a:active {
	background-color: #4d4a4b;
	color: white;
	border: 1px solid;
	border-top: none;
	border-bottom: none;
	padding: 0 .7em;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: line-through;
	padding: 0;
	background-color: #2a2829;
}
a:hover, a:active {
	border-top: 1px dashed;
	border-bottom: 1px dashed;
}

p, h3 {
	text-align: right;
}

ul {
	list-style-type: none;
}
li {
	white-space: nowrap;
	margin: 0;
}
li:after {
	content: "+";
	margin-left: 10px;
	margin-right: -10px;
	font-size: larger;
	font-weight: 900;
	color: #62663e;
}

div#container {
/*	margin-top: -19px; */
	background: url(corner.png) no-repeat top left;
}

div#pageHeader {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100%;
	height: 0px; /* set to 0 so it doesn't interfere with rest of page */
}
#pageHeader h1 {
	float: right; /* floating this so it sticks out of the div 
			and then won't cause issues with rest of page */
	width: 100px;
	height: 380px;
	margin: 0 10px 0 0;
	background: transparent url(css_zen_garden.png) no-repeat top right;
}

#pageHeader span {
	display: none;
	margin: 0px;
}

div#quickSummary {
	margin-top: 330px;
	padding: 13px 20px 5px 5px;
	background: url(big_white_box_top.png) no-repeat top left;
	width: 389px;
	float: left;
}
#quickSummary p {
	text-align: left;
	padding: 0 15px;
}

#quickSummary p.p2 {
	background: url(big_white_box_bottom.png) no-repeat bottom left;
	width: 414px;
	padding-bottom: 35px;
	margin-left: -5px;
	margin-bottom: -30px;
}

div#preamble {
	margin: 0px 150px 10px 10px;
	padding: 20px 0px;
}

div#supportingText {
	margin: 0px 150px 10px 384px;
	padding-left: 46px;
	z-index: 10;
	position: static;
/*	background: url(v_road.png) repeat-y top left; */
}

div#linkList {
	position: absolute;
	z-index: 100;
	top: 500px;
	left: 0px;
	padding: 90px 35px 150px 20px;
	width: 360px;
	height: 500px;
	background: url(v_road.png) repeat-y top right;
}

div#linkList ul {
	text-align: right;
	border: #d4d6d6 1px solid;
	padding: 5px 30px 5px 10px;
	margin: 0 -25px 0 118px;
	width: 230px;
	clear: both;
}

div#linkList h3 {
	margin-bottom: -1px;
	border: #9ea945 .2em dashed;
	border-bottom: none;
	display: inline;
	padding: .2em .7em 0;
	float: right;
	height: .95em;
	color: white;
}

div#extraDiv1 {
	position: absolute;
	z-index: 1;
	top: 550px;
	left: 0;
	width: 332px;
	height: 686px;
	background: url(big_flower.png) no-repeat top left;
}

div#extraDiv2 {
	position: absolute;
	top: 0;
	left: 384px;
	width: 30px;
	height: 600px;
}
